/* Fonts */

@font-face {
  font-family: Alegreyasans-regular;
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/alegreyasans-regular.woff') format('woff'),
  url('../fonts//alegreyasans-regular.woff2') format('woff2')
}


@font-face {
  font-family: Alegreyasans-light;
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/alegreyasans-light.woff') format('woff'),
  url('../fonts/alegreyasans-light.woff2') format('woff2')
}

@font-face{
  font-family: Alegreyasans-black;
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/alegreyasans-black.woff') format('woff'),
  url('../fonts/alegreyasans-black.woff2') format('woff2');
}

@font-face{
  font-family: Alegreyasans-bold;
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/alegreyasans-bold.woff') format('woff'),
  url('../fonts/alegreyasans-bold.woff2') format('woff2');
}

@font-face{
  font-family: Alegreyasans-extrabold;
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/alegreyasans-extrabold.woff') format('woff'),
  url('../fonts/alegreyasans-extrabold.woff2') format('woff2');
}

@font-face{
  font-family: Museo_sans_cyrl_700;
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/museo_sans_cyrl_700.woff') format('woff'),
  url('../fonts/museo_sans_cyrl_700.woff2') format('woff2');
}
